:root {
  --background: #ffffff; // To chenge for the website
  --si-grey: #9b9895;
  --si-grey-light: hsl(36, 5%, 81%);
}

body {
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
}

h1 {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  font-weight: 300;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
}

label {
  font-weight: 300;
}

p {
  font-weight: 300;
}

.section {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

