.SIButton {
    font-weight: 300;
    font-size: 1rem;
    padding: 10px 30px;
    background-color: black;
    color: #ffffff;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: #333333;
        cursor: pointer;
    }
}