.formInput {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.label {
    font-size: 0.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

.contactSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

.buttonSection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    height: 42px;
}

.message {
    font-size: 0.9rem;
    color: green;
}

.input:focus, .textarea:focus {
    outline: none;
    border-color: #666;
    box-shadow: 0 0 5px rgba(102, 102, 102, 0.5);
}