.profileSection {
    display: flex;
    align-items: center;
    gap: 100px;
    width: 100%;
}

.profileTextContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1.1rem;
    line-height: 1.8;
    color: black;
    text-align: left;
}

.photoContainer {
    display: flex;
    justify-content: right;
    align-items: center;
}

.profileImage {
    height: auto;
    border-radius: 50%;
}

@media screen and (max-width: 1170px) {
    .profileSection {
        flex-direction: column;
        gap: 30px;
    }
}